%form(action = "/admin/add" method = "post" id = "add")
  %p
    %label Name
    %input(type = "text" name = "name")
  %p
    %label Email
    %input(type = "text" name = "email") 
  %p
    %label Write a description!
    %textarea(name = "description")
  %p
    %label Beerbongs Sold
    %input(type = "text" name = "beerbongs")
  %p
    %label Add Your Profile Image
    %input(type = "file" name = "profileImage")
  %input(type = "submit" value = "Submit")
