%a(href = "/admin/add") Add New Profile
%br
%a(href = "/admin/edit") Edit Profiles
%br
%a(href = "/admin/delete") Delete Profile
%br
%br
%a(href = "/admin/editPage/about") Edit About Page
%br
%a(href = "/admin/editPage/team") Edit Team Page
%br
%br
%a(href = "/admin/sales") Change Beerbong #'s
