<a href="/admin/add">Add New Profile</a>
<br />
<a href="/admin/edit">Edit Existing Profile</a>
<br />
<a href="/admin/delete">Delete Profile</a>
<br />
<a href="/admin/editPage/about">Edit About Page</a>
<br />
<a href="/admin/editPage/team">Edit Team Page</a>
<br />
<br />
<a href="/admin/sales">Change Beerbong #'s</a>
<br />
