#main
  - @profiles.each do |profile| 
    .profile
      %img(src="#{profile.profileImgPath}")
      .clear
      .infoWrap
        %h2= profile.name
        %p= profile.description
        %br
        %a(href="/admin/editItem/#{profile.id}") Edit Profile
    %br
    %br
  / LEAVE THIS LINE HERE IF YOU DELETE THIS COMMENT IT WILL BREAK EVERYTHING
  