!!! 5
%html
  %head
    %meta(charset='utf-8')
    %title #{SITE_TITLE}
    %link(rel='stylesheet' href='/style.css' type='text/css' media='screen' title='default style sheet')
    %link(rel='stylesheet' href='/reset.css' type='text/css' media='screen' title='default style sheet')
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    %meta(name='viewport' content='width=680px')
  %body
  #wrapper
    #header
      .top
        .header_wrapper
          #logo 
            %a(href="http://beerbongsforworldpeace.com") Beerbongs For World Peace    
          %h1 #{SITE_HEADER}
      .bottom
        .header_wrapper
          %ul(class="links")
            %li 
              %a(href="/" alt="About Spread Peace With Us") About
            %li
              %a(href="/team" alt="The Spread Peace With Us Team") Team     
            %li
              %a(href="/join" alt="Join the Spread Peace With Us Team") Join                 
            %li
              %a(href="#" alt="Buy a Beerbong from Beerbongs For World Peace") Buy     
    #container
      =yield
  .clear
  #footer
    .top
    .bottom