<div class="profilesWrap">
	<% if @profiles.count > 0 %>
		<% @profiles.each do |profile| %> 
		<div class="profile">
			<img src="<% @profile.profileImgPath %>" alt="<% @profile.name %>'s Profile Picture thumbnail" class="profileImgThumb" />
			<div class="infoWrap">
				<h2 class="profileName"><% @profile.name %></h2>
				<p class="profileDescription"><% @profile.description %></p>
				<br />
			</div>
		</div>
		<% end %>
	<% else %>
		<p>No Profiles to Display - Contact us for info on how to join our team!!</p>
	<% end %>
</div>
