.brown {
   color: #3B3329;
}

.blue {
	color: #96DAC1;
}

.red {
   color: #E06441;
}

/*END COLOR CLASS DEFS MARKUP STYLE*/

*, html {
   margin: 0;
	padding: 0;
}

html, body {
   height: 100%;
}

body {
   background-color: #FFF;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	color: #3B3329;
}

/* All headings use Pacifico. Imported in main
 * layout file from GoogleWebfonts
 */

h1, h2, h3, h4, h5, h6 {
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

h1 {
   font-size: 36px;
	 color: #3B3329;
}
h2, #main h2, #sidebar h2 {
   font-size: 32px;
	font-weight: bold;
	color: #3B3329;
}

/* Everything else uses */
p, a {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

p, .section p {
   line-height: 1.5em;
   font-size: 13px;
   margin: 8px 0px;
	color: #544b41;
}

a {
   color: #E06441;
}

a:link, a:visited {
   text-decoration: none;
   color: #E06441;
}

a:hover, a:active {
   text-decoration: underline;
   color: #E06441;
}

/*END MARKUP STYLE HELPERS*/

.clear {
   clear: left;
}

/*** CLEARFIX **/

.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */
 
/*** END CLEARFIX **/

/*END HELPERS MAIN STYLE STRUCTURE*/

#wrapper {
   min-height: 100%;
   background-color: #fffdfc;
	background: url(img/tile.gif) repeat;
}

#container {
   width: 928px;
   z-index: -1;

 	margin: 0 auto;
   margin-top: 16px;
   margin-bottom: 8px;
	padding-bottom: 60px;
}

#main {
   float: left;
	width: 600px;
   padding: 8px 6px 16px 6px;
}

#sidebar {
   float: right;
   padding: 8px;
   width: 270px;
}

#footer {
   position: relative;
	height: 37px;
	margin-top: -37px;
	clear: both;
}

/* END STRUCTURE HEADER */

#header {
   height: 100px;
   width: 100%;
}

#header h1 {
   font-family: 'Pacifico', arial, serif;
 	font-size: 36px;
	color: #fff;
	margin-left: 75px;
	display: inline;
	padding-top: 10px;
}

#header .headerWrapper {
   width: 928px;
   margin: 0 auto;
   height: 60px;
}

#header .topBar {
   background-color: #96DAC1;
   height: 60px;
	width: 100%;
   padding: 5px 0 5px 0;
   border-bottom: 1px solid #82d6b6;
}

#header .topBar .headerWrapper h1 {
   margin-left: 6px;
	padding-top: 10px;
}
    
#header .navBar {
   background-color: #E06441;
   z-index: 1000;
   height: 30px;
	margin-top: 5px;
	width: 100%;
	color: #FFF;
   border-bottom: 1px solid #c4563a;
   box-shadow: 0 1px 4px rgba(0,0,0,.25);
   -moz-box-shadow: 0 1px 4px rgba(0,0,0,.25);
   -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.25);
	text-transform: uppercase;
}

#header .topBar .headerWrapper #logo {
   margin-left: -64px;
	margin-top: 2px;
}

#logo {
   background: url(img/logo.png) no-repeat;
   width: 65px;
	height: 60px; /*height of image (56px) + padding*/
	float: left;
}

#logo a {
   margin: 0;
	width: 56px;
	height: 56px;
	text-indent: -9999px;
	display: block;
}

#header ul.links {
   overflow: hidden;
   list-style: none;
   margin-left: 8px;
}

#header .links li {
   height: 25px;
   width: 58px;
   padding-top: 6px;
   display: block;
	float: left;
   text-align: center;
}

#header .links li:hover {
   background-color: #c4563a;
}

#header .links li a {
   color: #FFF;
   font-size: 13px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	text-shadow: 0 -1px 0 #933b23;
}

#header .links li a:hover {
   text-decoration: none;
}

/* MAIN */

.section {
   margin-bottom: 28px;   
   padding-bottom: 20px;
}

.section h2, #main h2 {
   margin-bottom: 16px;
}

#main img {
   width: 200px;
   border: 1px solid #3B3329;
}

#main img.whoImg {
   float: left;
   margin: 0 16px 8px 0;
 }

#main img.whatImg {
   float: right;
   margin: 0 0 8px 16px;
}

.profile {
	border-bottom: 1px solid #3B3329;
	margin-bottom: 8px;
	padding-bottom: 8px;
	min-height: 230px;
}

.profile img {
	float: right;
	margin-left: 8px;
}

.profile .infoWrap {
	width: 310px;
}

.profile .infoWrap h2 {
	padding-top: 8px;
   margin-bottom: 12px;
}

.profile .infoWrap p {
	font-size: 11px;
	line-height: 1.4em;
   margin-bottom: 8px;
}

/* SIDEBAR */

#counter, #leaderboard {
   text-align: center;
   margin-bottom: 36px;
}

#counter .counterNum {
   font-size: 76px;
 	margin-top: 16px;
	padding-bottom: 12px;
   margin-bottom: 4px;
	color: #3B3329;
	font-family: Georgia, serif;
}

#sidebarProfileList {
	text-align: left;
}

#leaderboard h2 {
	border-bottom: 1px solid #3b3329;
	padding-bottom: 8px;
}

.profileRow {
	border-bottom: 1px solid #3b3329; 
	padding: 8px 0;
	height: 77px;
	overflow: hidden;
}

.profileImg img {
	width: 73px;
	height: 73px;
	float: left;
	border: 1px solid #3b3329;
	margin-right: 8px;
}

.profileInfo {
	float: right;
	width: 186px;
}

.profileInfo h3 {
	font-size: 21px;
	margin-bottom: 2px;
}

.profileInfo p.childrenFed {
	font-size: 14px;
}

.profileInfo p.childrenFed strong {
	font-weight: bold;
}

.profileInfo p {
	font-size: 11px;
	overflow: hidden;
}

.profileInfo p.profileLink {
	margin-left: 60px;
}

/*END SIDEBAR FOOTER*/

#footer .top {
   background-color: #E06441;
	height: 5px;
	margin-bottom: 4px;
}

#footer .bottom {
	background-color: #96DAC1;
	height: 30px;
	width: 100%;
}

/*END FOOTER*/

/*** ADMIN FORMAT ***/

.formDescription {
	font-size: 11px;
	margin-top: 4px;
}

.inputWrap {
	margin: 16px 0px;
}

.inputWrap label {
	display: block;
	margin-bottom: 6px;
}

.inputWrap input {
	padding: 4px 2px;
	width: 250px;
	border: 1px solid #3B3329;
}

.inputWrap textarea {
	width: 450px;
	height: 200px;
	padding: 4px;
	border: 1px solid #3B3329;
}

p.textLabel {
	color: #3B3329;
}

.formBody p {
	color: #3B3329;
}	

.adminHeader a.adminNav {
	font-size: 10px;
	margin-bottom: 4px;
}	

#main .adminHeader h2 {
	line-height: 1.6em;
	margin: 0;
	padding: 0;
}	

.submitButton {
	cursor: pointer; 
	-moz-box-shadow:inset 0px 1px 0px 0px #fab3ad;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fab3ad;
	box-shadow:inset 0px 1px 0px 0px #fab3ad;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fa665a), color-stop(1, #d34639) );
	background:-moz-linear-gradient( center top, #fa665a 5%, #d34639 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a', endColorstr='#d34639');
	background-color:#fa665a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:6px 21px;
	text-decoration:none;
	text-shadow: 0px -1px 1px #98231a;
}

.submitButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d34639), color-stop(1, #fa665a) );
	background:-moz-linear-gradient( center top, #d34639 5%, #fa665a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639', endColorstr='#fa665a');
	background-color:#d34639;
	text-shadow: 0;
}

.submitButton:active {
	position:relative;
	top:1px;
	text-shadow: 0;
}


/* FOOTER */

#footer .bottom p {
	text-align: center;
	color: #fff;
	font-size: 11px;
	padding-top: 5px;
	text-shadow: 0 -1px 0 rgba(0,0,0,.15);
}

#footer .bottom p a {
	color: #fff;
}

.beerbongInput {
	width: 150px;
}
